[Unit]
Description=defined
ต้องการ=basic.target
After=basic.target network.target
Before=sshd.service

[Service]
SyslogIdentifier=defined
StandardOutput=syslog
StandardError=syslog
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/etc/defined/dnclient run
รีสตาร์ท=เสมอ

[ติดตั้ง]
WantedBy=multi-user.target
